<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Recent News</h4>
                        <pagination v-if="posts.last_page > 1" :pagination="posts" :offset="5" @paginate="fetchPosts()"></pagination>
                        <div class="card-text">
                            <post v-if="postsLength" v-for="(post, index) in posts.data" :key="post.slug" :post="post"></post>
                            <div v-else>No Posts Found</div>
                        </div>
                        <pagination v-if="posts.last_page > 1" :pagination="posts" :offset="3" @paginate="fetchPosts()"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import Pagination from './Pagination.vue';
    import Post from './Post.vue';

    export default {
        mounted() {
            this.$store.dispatch('getAll');
        },
        methods: {
            fetchPosts() {
                this.$store.dispatch('getAll', {current_page: this.posts.current_page});
            }    
        },
        computed: {
            ...mapState(['posts']),
            postsLength() {
                return this.posts.data.length;
            }
        },
        components: {
            'post': Post,
            'pagination': Pagination
        }
    }
</script>