<template>
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-img-top mb-2">
                <img v-if="post.image_url != 'noimage.jpg'" style="width: 100%" :src="post.image_url" />
                <img v-else style="width: 100%" src="/img/no_image_available.jpeg" />
            </div>
            <div class="card-text">
                <h4 class="card-title" style="cursor:pointer">
                    <router-link :to="'/post/' + post.slug">{{post.title}}</router-link>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">by {{post.author}}</h6>
                <p class="card-text">{{post.body}}</p>
                <blockquote class="blockquote text-right" style="font-size: 0.8rem">
                    <p class="mb-0">Source: {{post.source}}</p>
                    <footer class="blockquote-footer">Published at {{post.published_at}}</footer>
                </blockquote>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['post']
    }
</script>