<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <post v-if="currentPost" :post="currentPost"></post>
                <router-link :to="{path: '/'}">Back to News</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import Post from './Post.vue';

    export default {
        mounted() {
            this.$store.dispatch('getOne', {slug: this.$route.params.slug});
        },
        created() {
        },
        computed: {
            ...mapState(['currentPost'])
        },
        components: {
            'post': Post
        }
    }
</script>